#wrap {
width: 100%;
text-align: center;
}

.gallery {
  width: 90%;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-left: 1%;
}

.imageContainer {
  display: inline-block;
  margin: 3px;
  /* margin: -3px; */
  position: relative;
  overflow: hidden;
  width: 26%;
}

.imageContainer:hover {
  cursor: pointer;
}

img {
  width: 100%;
  /* opacity: 1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); */
  transition: 1s;
  float: left;
}

img:hover {
  /* opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0); */
  transform: scale(1.15);
  transition: 1s;
}

#bookmarks {
  width: 90%;
  margin-top: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#bookmarkTop {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: lightgray;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
}

#bookmarkLeft {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  width: 80px;
}

#bookmarkRight {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  width: 80px;
}

a {
  color: black;
  text-decoration: none;
}

#bookmarkLeft:hover,
#bookmarkRight:hover,
#bookmarkTop:hover {
  background-color: rgb(40, 192, 243);
}

#bookmarkLeft:active,
#bookmarkRight:active,
#bookmarkTop:active {
  background-color: rgb(40, 192, 243);
}

@media screen and (max-width: 750px)
{
    .gallery
    {
        width: 80%;
        background-color: rebeccapurple;
    }
    .imageContainer {
      width: 100%;
      margin: -3px;
    }
    img
    {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
    img:hover{
      transform: none;
      transition: none;
    }
}

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 15%;
  right: 8%;
  width: 60px;
  height: 60px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: rgb(40, 192, 243);
  background-color: #ffffff;
  }

  .back-to-top i {
    font-size: 60px;
  }

