#wrap {
    text-align: center;
}

.gallery {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.imageContainer {
    width: 26%;
    display: inline-block;
    margin: 3px;
    position: relative;
    overflow: hidden;
}

.imageContainer:hover {
    cursor: pointer;
}

img {
    width: 100%;
    float: left;
    transition: 1s;
}

img:hover {
    transform: scale(1.15);
    transition: 1s;
}

#bookmarkTop {
    text-align: center;
    margin-left: 10.5%;
    font-size: 40px;
    max-width:0;
}

.fa-arrow-circle-left {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.fa-arrow-circle-left:hover {
    background-color: rgb(40, 192, 243);
    color: white;
}

#bookmark {
    background-color: black;
    color: white;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 7%;
    z-index: 100;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
  
#bookmark:hover {
    color: #ffffff;
    background-color: rgb(40, 192, 243);
}
  
#bookmark i {
    font-size: 50px;
}

#bookmark:active {
    outline: none;
}

@media screen and (max-width: 1000px) {
    #bookmarkTop {
        margin-left: 10%;
    }

    #bookmark {
        right: 7%;
    }
    .back-to-top {
        bottom: 0;
        left: 88%;
    }
}

@media screen and (max-width: 750px) {
    .gallery {
        width: 90%;
        background-color: rebeccapurple;
    }
    .imageContainer {
        width: 100%;
        margin: -3px;
    }
    img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    img:hover {
        transform: none;
        transition: none;
    }
    #bookmarkTop {
        margin-left: 5%;
    }
}