#wrap {
    width: 100%;
    text-align: center;
}

.gallery {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-left: 1%;
}

.imageContainer {
    display: inline-block;
    margin: 3px;
    position: relative;
    overflow: hidden;
    width: 26%;
}

.imageContainer:hover {
    cursor: pointer;
}

img {
    width: 100%;
    transition: 1s;
    float: left;
}

img:hover {
    transform: scale(1.15);
    transition: 1s;
}

#bookmarkTop {
    text-align: center;
    margin-left: 15.5%;
    font-size: 40px;
    max-width:0;
}

.fa-arrow-circle-left {
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 100%;
    height: 40px;
}

.fa-arrow-circle-left:hover {
    background-color: rgb(40, 192, 243);
    color: white;
}

#bookmark {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 14%;
    z-index: 100;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100%;
    border: none;
}
  
#bookmark:hover {
    color: #ffffff;
    background-color: rgb(40, 192, 243);
}
  
#bookmark i {
    font-size: 40px;
}

#bookmark:active {
    outline: none;
}

@media screen and (max-width: 1000px) {
    #bookmarkTop {
        margin-left: 15%;
    }
    #bookmark {
        right: 8.5%;
    }
    .back-to-top {
        bottom: 0;
        left: 88%;
    }
  }


@media screen and (max-width: 750px) {
    .gallery {
        width: 80%;
        background-color: rebeccapurple;
    }
    .imageContainer {
      width: 100%;
      margin: -3px;
    }
    img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
    img:hover {
      transform: none;
      transition: none;
    }
    #bookmarkTop {
      margin-left: 13%;
    }
}