#box {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.title {
    color: #444;
    width: 900px;
    padding: 1%;
    border: 3px solid #444;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    transition: 0.5s;
}

.active, .title:hover {
    background-color: rgb(40, 192, 243);
    color: black;
    width: 900px;
    transition: 1s;
}

.title:after {
    float: right;
    content: '\002B';
    color: #777;
    font-weight: bold;
}

.active:after {
    content: "\2212";
}

.panel {
    background-color: white;
    max-height: 0;
    width: 890px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#menuExperience {
    width: 100%;
    text-align: center;
    margin: auto;
}

.hide-content {
    display: none;
}

.show-content {
    display: block;
}

.menu-item {
    width: 24%;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 20px;
}

.menu-item:active {
    transform: scale(0.9);
}

.container2 {
    background-color: #eee;
    width: 98%;
    text-align: left;
    margin: auto;
    border-radius: 10px;
}

#c1, #c2, #c3, #c4 {
    display: none;
    padding: 2%;
    padding-left: 3%;
}

#menuEducation {
    width: 99%;
    text-align: center;
    margin: auto;
}

.container4 {
    background-color: #eee;
    width: 46%;
    text-align: left;
    margin: auto;
    border-radius: 10px;
}

#c5, #c6 {
     display: none;
     padding: 2%;
     padding-bottom: 3%;
     padding-left: 3%;
     text-align: center;
}

.logo {
    color: #444;
    float: left;
    width: 125px;
    height: 75px;
    text-align: center;
    outline: none;
    overflow: hidden;
}

.logoSkills {
    color: #444;
    float: left;
    width: 126px;
    height: 80px;
    text-align: center;
    outline: none;
    overflow: hidden;
}

.logoCertificates {
    color: #444;
    float: left;
    width: 200px;
    height: 125px;
    text-align: center;
    outline: none;
    overflow: hidden;
}

.logoCertificates img:hover {
    box-shadow: none;
    border: 2px solid gray;
    cursor: auto;
}

.logoSkills img {
    border-radius: 15px;
}

.logoSkills img:hover {
    box-shadow: none;
    border: 2px solid gray;
    cursor: auto;
}

img {
    width: 91%;
    padding: 3%; 
    border: 2px solid gray;
    border-radius: 25px;
    cursor: pointer;
}

img:hover {
    border: 2px solid rgb(40, 192, 243);
    box-shadow: 0 0 20px rgb(40, 192, 243);
}

article {
    text-align: justify;
    font-family: century gothic;
    overflow-wrap: break-word;
    padding-left: 1px;
    float: left;
    overflow: auto;
    width: 150px;
    height: 73px;
    border-left: none;
}

.container {
    display: inline-block;
}

#firstSkill,
#secondSkill,
#thirdSkill,
#fourthSkill,
#fifthSkill,
#sixthSkill,
#seventhSkill,
#eighthSkill,
#ninethSkill,
#tenthSkill,
#eleventhSkill,
#tvelvethSkill {
    color: rgb(40, 192, 243);
    line-height: 73px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.stars {
    color: gray;
    float: center;
    width: 95%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px dashed black;
    border-radius: 10px;
}

.legend {
    display: inline;
}

#role {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    font-variant-caps: all-petite-caps;
    font-family: "calibri", sans-serif;
}

#roleSchool {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    font-variant-caps: all-petite-caps ;
    font-family: "calibri", sans-serif;
}

#year {
    font-size: 16px;
    font-weight: 500;
}

#yearSchool {
    font-size: 14px;
    font-weight: 500;
}

#description {
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 1%;
}

#bookmark {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    z-index: 100;
    cursor: pointer;
    border-radius: 100%;
    border: none;
}
  
#bookmark:hover {
    color: #ffffff;
    background-color: rgb(40, 192, 243);
}
  
#bookmark i {
    font-size: 50px;
}

#bookmark:active {
    outline: none;
}

.titleText {
    margin-left: 40px;
    letter-spacing: 15px;
}

@media screen and (max-width: 1000px) {
    .title {
        width: 90%;
    }
    .title:hover {
        width: 90%;
    }
    .title:active {
        background-color: rgb(40, 192, 243);
    }
    .panel {
        width: 85%;
    }
    .menu-item {
        float: center;
        text-align: center;
        margin: auto;
        width: 49%;
    }
    #role {
        font-size: 24px;
        letter-spacing: 0;
    }
    #year {
        font-size: 15px;
    }
    #description {
        font-size: 14px;
    }
    .container4 {
        width: 98%;
    }
    #roleSchool {
        font-size: 24px;
        letter-spacing: 0;
    }
    #yearSchool {
        font-size: 13px;
    }
    #bookmark {
        bottom: 20px;
        right: 7%;
    }   
    .titleText {
        margin-left: 27px;
        letter-spacing: 5px;
        font-size: 16px;
    }
    .stars {
        width: 560px;
    }
    .legend {
        display: block;
        text-align: left;
        padding: 2%;
    }
    .logoCertificates {
        width: 100%;
    }
} 

@media screen and (max-width: 687px) {
    .stars {
        width: 280px;
    }
}