#box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: flex;
    align-items: stretch;
}

#boxBusinessCard {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: 5px solid black;
    font-family: century gothic;
    transition-duration: 0.2s;
    flex-grow: 1;
}

#boxBusinessCard:hover {
    border: 5px solid rgb(40, 192, 243);
    transition-duration: 0.2s;
}

#boxBusinessCardDetails {
    padding: 6%;
}

#fieldName {
    width: 100%;
    font-size: 35px;
    text-align: center;
}

#fieldRole {
    font-size: 20px;
    text-align: center;
}

.fieldContactType {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.fieldContactDetails {
    font-size: 14px;
    text-align: center;
}

.socials {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.icon-facebook:before { 
    content: '\f30c'; 
    font-size: 35px; 
    padding: 2%;
    color: black;
    border-radius: 100%;
    transition-duration: 0.2s;
}

.icon-facebook:hover:before {
    background-color: black;
    border-radius: 100%;
    color: white;
    transition-duration: 0.2s;
}

.icon-youtube:before { 
    content: '\f167'; 
    font-size: 35px; 
    padding: 2%; 
    color: black;
    border-radius: 100%;
    transition-duration: 0.2s;
}

.icon-youtube:hover:before {
    background-color: black;
    border-radius: 100%;
    color: white;
    transition-duration: 0.2s;
}

.icon-linkedin:before { 
    content: '\f318'; 
    font-size: 35px; 
    padding: 2%; 
    color: black;
    border-radius: 100%;
    transition-duration: 0.2s;
} 

.icon-linkedin:hover:before {
    background-color: black;
    border-radius: 100%;
    color: white;
    transition-duration: 0.2s;
}

.icon-instagram:before { 
    content: '\f32d'; 
    font-size: 35px; 
    padding: 2%; 
    color: black;
    border-radius: 100%;
    transition-duration: 0.2s;
}

.icon-instagram:hover:before {
    background-color: black;
    border-radius: 100%;
    color: white;
    transition-duration: 0.2s;
}

#emailForm {
    width: 49%;
    float: left;
    border: 2px dashed black;
    border-left: none;
    font-family: century gothic;
    text-align: center;
    flex-grow: 1;
}

#greeting {
    width: 100%;
    font-size: 20px;
    margin-top: 4%;
}

#emailFormDetails {
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#firstRow {
    display: flex;
}

#userName {
    width: 40%;
    margin-right: 1%;
    margin-bottom: 0%;
}

#userEmail {
    width: 60%;
    margin-bottom: 0%;
}

#subject {
    width: 100%;
    margin-bottom: 0%;
}

#message {
    width: 100%;
    margin-bottom: 0%;
    height: 160px !important;
}

input[type=text], input[type=email], textarea {
    font: 12px century gothic,sans-serif;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 2%;
    outline: none;
    resize: vertical /* message area right bottom corner user can resize the textarea but only vertically */
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    box-shadow: 0px 0px 0px 1px rgb(40, 192, 243);
    border-color: white;
}

input[type=submit] {
    width: 50%;
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    border: 3px black solid;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 1s;
    margin-top: 2%;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    width: 100%;
    background-color: rgb(40, 192, 243);
    border: 3px black solid;
    color: black;
    transition-duration: 0.4s;
    font-weight: 700;
}

#container {
    width: 60%;
    height: 1px;
    background-color: black;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
#circle {
    display:inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    left:0;
    right:0;
    margin:0 auto;
    border-radius: 100%;
    top:-4px;
}

#bookmark {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10%;
    z-index: 100;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100%;
    border: none;
}
  
#bookmark:hover {
    color: #ffffff;
    background-color: rgb(40, 192, 243);
}
  
#bookmark i {
    font-size: 40px;
}

#bookmark:active {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

textarea {
    height: 50px;
}

@media screen and (max-width: 1000px) {
    #box {
        display: block;
        align-items: none;
    }
    #boxBusinessCard {
        border: none;
        width: 100%;
        border: 5px solid rgb(40, 192, 243);
    }
    #fieldName {
        font-size: 33px;
    }
    #emailForm {
        float: left;
        width: 100%;
        border: none;
        border: 2px dashed black;
        border-top: none;
        padding: 2.5px;
    }
    #greeting {
        font-size: 18px;
        font-weight: 700;
    }
    #bookmark {
        right: 8.5%;
    }
}