body {
    width: 100%;
    margin: 0%;
    font-family: open sans, sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
}

#wrap {
    min-height: calc(85vh);
}

header {
    text-align: center;
    margin-top: 2%;
}

header h1 {
    font-family: Brush Script MT;
    margin: 0%;
}

header h2 {
    font-family: Calibri;
    font-size: 60px;
    margin: 0%;
}

nav {
    text-align: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    font-size: 12px;
    font-weight: 700;
    list-style: none;
    padding: 0; /* to the left */
}

nav ul li {
    display: inline-block;
    padding: 5px; /* space between elements */
    border-left: 1px solid black; /* left border for each menu item */
}

nav ul :first-child {
    border: none; /* first menu item without left border */
}

nav ul li:last-child {
    border-bottom: none; /* double bottom border off */
}

nav ul li a {
    display: block; /* width after parents */
    width: 120px; /* menu item width */
    color: black; /* menu item font color */
    text-decoration: none; /* underline off */
}

nav ul li a:hover {
    color: rgb(40, 192, 243);
}

section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 4%;
}

#photo {
    width: 170px;
    float: left;
    text-align: center;
    padding-right: 3%;
}

#imgDesktop {
    width: 100%;
    height: 100%;
}

#imgMobile {
    display: none;
}

article {
    text-align: justify;
    font-family: century gothic;
    overflow-wrap: break-word;
}

h3 {
    font-size: 30px;
    margin-top: 0;
    color: rgb(40, 192, 243);
}

p:last-child {
    margin-bottom: 0%;
}

footer  {
    width:100%;
    font-size: 12px;
    text-align: center;
    padding: 1%;
    float: left;
}

#bookmark {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15%;
    z-index: 100;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100%;
    border: none;
}
  
#bookmark:hover {
    color: #ffffff;
    background-color: rgb(40, 192, 243);
}
  
#bookmark i {
    font-size: 40px;
}

#bookmark:active {
    outline: none;
}

.menu {
    display: inline-block;
    position: fixed;
    top: 3%;
    right: 10%;
    opacity: 0;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 600px) {
    nav ul li {
        width: 100%;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
        border: none;
    }
    nav ul li a {
        width: 100%;
    }
}   

@media screen and (max-width: 800px) {
    #photo {
        width: 100%;
        margin-bottom: 5%;
        float: left;
    }
    #imgDesktop {
        display: none;
    }
    #imgMobile {
        width: 100%;
        display: block;
        border: 1px solid white;
        border-radius: 7px;
    }
    article {
        float: left;
    }
    h3 {
        margin-bottom: 0%;
    }
    section {
    width: 80%;
    }
    nav ul li a:active {
    color: rgb(40, 192, 243);
    }
    #bookmark {
        right: 10%;
    }
    a {
        color: black;
        text-decoration: none;
    }
}